
body{
    /* Photo by Laura Meinhardt from Pexels */
    background-image: url("/assets/images/bg2.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    height: 150vh;
}

.background-white {
    background-color: white;
}

.border-5 {
    border-width:5px !important;
}

hr.line {
    border-top: 1px solid lightgray;
}